@model Meetings.Models.Pracownik

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Login.Pracownik.Admin)
{
    <h1>Edit</h1>

<h4>Pracownicy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ImiePracownika" class="control-label"></label>
                <input asp-for="ImiePracownika" class="form-control" />
                <span asp-validation-for="ImiePracownika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazwiskoPracownika" class="control-label"></label>
                <input asp-for="NazwiskoPracownika" class="form-control" />
                <span asp-validation-for="NazwiskoPracownika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stanowisko" class="control-label"></label>
                <input asp-for="Stanowisko" class="form-control" />
                <span asp-validation-for="Stanowisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFilii" class="control-label"></label>
                <select asp-for="IdFilii" class="form-control" asp-items="ViewBag.IdFilii"></select>
                <span asp-validation-for="IdFilii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDzialu" class="control-label"></label>
                <select asp-for="IdDzialu" class="form-control" asp-items="ViewBag.IdDzialu"></select>
                <span asp-validation-for="IdDzialu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haslo" class="control-label"></label>
                <input asp-for="Haslo" class="form-control" />
                <span asp-validation-for="Haslo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Admin" /> @Html.DisplayNameFor(model => model.Admin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


}
