<ul class="navbar-nav">
    @if (Login.loggedIn == true)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogOut">Wyloguj</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Zaloguj</a>
        </li>
    }
</ul>